@import "tailwindcss";

:root {
  --background: #f4f6f8;
  --foreground: #14213d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand: #0b3d91;
  --color-brand-dark: #082c6c;
  --color-brand-light: #e8f0fe;
  --color-accent: #ff6a00;
  --color-accent-dark: #e85d00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
